@page:left {
  margin-left: 15mm;
  margin-right: 15mm;
  margin-top: 15mm;
  margin-bottom: 15mm;
}

@page:right {
  margin-left: 15mm;
  margin-right: 15mm;
  margin-top: 15mm;
  margin-bottom: 15mm;
}

.running-h1-title::before {
  content: "Annuaire des accompagnements au numérique libre";
}

#annuaire {
  page: annuaire;
}

@page annuaire:left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
  @bottom-center {
    content: element(mini-legende);
  }
}

@page annuaire:right {
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: element(runningH2Title);
    white-space: nowrap !important;
  }
  @bottom-center {
    content: element(mini-legende);
  }
}

@page annuaire:first {
  @top-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
}

.mini-legende {
  position: running(mini-legende);
}

.mini-legende {
  opacity: 0.4;
  margin: 0;
}

.mini-legende ul {
  padding: 0;
}

.mini-legende .icones {
  display: flex;
  flex-direction: row;
}
.mini-legende-left .icones {
  justify-content: flex-end;
}
.mini-legende-right .icones {
  justify-content: flex-start;
}

.mini-legende li {
  --icon-size: 1.5rem;
  width: auto;
  font-size: 10px;
}

.mini-legende li span {
  display: block;
  margin-left: calc(1.1 * var(--icon-size));
  margin-right: 1ch;
  line-height: var(--icon-size);
}

.pagedjs_annuaire_first_page .level1,
#index-alphabetique {
  padding-top: 6em;
}

#legende {
  display: grid;
  margin: 2em auto;
  break-after: always;
  grid-template-columns: 52% 48%;
  grid-template-areas:
    "header header"
    "formats zones"
    "formats lieux";
  column-gap: 1cm;
}

#legende h2 {
  grid-area: header;
  text-align: center;
  white-space: nowrap;
}

#legende-formats {
  grid-area: formats;
}

#legende-zones {
  grid-area: zones;
}

#legende-lieux {
  grid-area: lieux;
  align-self: end;
}

#legende-lieux p {
  margin-bottom: 0;
}

#legende .icones {
  flex-direction: column;
  padding: 0;
}

#legende .icones li {
  margin-top: 2em;
  width: min-content;
}

#legende .icones li span {
  display: block;
  margin-left: calc(var(--icon-size) * 1.5);
  margin-top: calc(var(--icon-size) / 3);
  white-space: nowrap;
}
