@page {
  size: A4;
}

:root {
  --background: whitesmoke;
  --color-paper: white;
  --color-mbox: rgba(0, 0, 0, 0.2);
  --running-title-width: 4in;
  --screen-pages-spacing: 5mm;
  --pagedjs-pagebox-width: 210mm !important;
  --pagedjs-pagebox-height: 297mm !important;
}

@page:first {
  margin-left: 20mm;
  margin-right: 20mm;
  margin-top: 20mm;
  margin-bottom: 20mm;
}

/***** begin default-page ******/

@page :blank {

}

/* store some string variables */
.front-page h1.title {
  string-set: document-title content(text);
}

.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.4;
}
.running-h1-title::before {
  /*content: string(h1-text);*/
  content: string(document-title);
}

@page chapter:left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.4;
}
.running-h2-title::before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  /*content: string(h2-text);*/
  content: string(h1-text);
}
@page chapter:right {
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: element(runningH2Title);
    white-space: nowrap !important;
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: counter(page);
  }
}
@page :first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
  background-image: var(--front-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Front cover */
.front-cover {
  break-after: always;
}

/* Front page or title page */
.front-page {
  counter-reset: page;
}

/* Front matter*/
@page frontmatter:left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: none;
    white-space: nowrap !important;
  }
}
@page frontmatter:right {
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: none;
    white-space: nowrap !important;
  }
}
@page frontmatter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: counter(page);
  }
}

/* last page or back cover */
.back-cover {
  break-before: always;
}
.pagedjs_page:last-of-type {
  background-image: var(--back-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* page breaks; aka CSS fragmentation */
.main .level1 {
  break-before: always;
  page: chapter;
}
.front-matter-container .level1 {
  break-before: always;
}
.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
h2 + ul {
  break-before: avoid;
}
.figure {
  break-inside: avoid;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/***** end default-page ******/


/****** begin default style *******/

html {
  line-height: 1.3;
}


/* Chapter name */
.chapter > h1 > .header-section-number::before, .chapter-ref > .toc-section-number::before {
  content: var(--chapter-name-before, "Chapter ");
}
.chapter > h1 > .header-section-number::after, .chapter-ref > .toc-section-number::after {
  content: var(--chapter-name-after, "");
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
}
pre {
  padding: 1em;
}
pre[class] {
  background: #f9f9f9;
}
abbr {
  text-decoration: none;
}

@media screen {
  div.sourceCode {
    overflow: visible !important;
  }
  a.sourceLine::before {
    text-decoration: unset !important;
  }
}
pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em
}
pre.numberSource {
  margin-left: 0 !important;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
.footnote-break {
  width: 1in;
}
body {
  hyphens: auto;
}
code {
  hyphens: none;
}

/* two pages in a row if possible on screen */
@media screen {
  body {
    background-color: var(--background);
    margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
    display: flex;
    max-width: calc(var(--pagedjs-width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .pagedjs_page {
    background-color: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-mbox);
    flex-shrink: 0;
    flex-grow: 0;
    margin: auto auto var(--screen-pages-spacing) auto;
  }
}

/* when a row can hold two pages, start first page on the right */
@media screen and (min-width: 12.32in) {
  .pagedjs_page {
    margin: auto 0 var(--screen-pages-spacing) 0;
  }
  .pagedjs_first_page {
    margin-left: var(--pagedjs-width);
  }
}

/* use a fixed width body for mobiles */
@media screen and (max-width:1180px)  {
  body {
    width: calc(var(--pagedjs-width) + 2 * var(--screen-pages-spacing));
  }
}

/****** end default style ********/


.pagedjs_first_page {
  background: #dcdd43 url(../assets/2017-10-09_framasoft-campaign_3_Educ-Pop_by-David-Revoy.jpg) no-repeat !important;
  background-size: 225% !important;
  background-position: 100% 0 !important;
}
.pagedjs_page:last-of-type {
  background: #dcdd43 url(../assets/2017-10-09_framasoft-campaign_3_Educ-Pop_by-David-Revoy.jpg) no-repeat !important;
  background-size: 225% !important;
  background-position: calc(100% + var(--pagedjs-bleed-left) + var(--pagedjs-bleed-right) + var(--pagedjs-pagebox-width)) 0 !important;
}

.title-page {
  margin-top: calc(0.666 *  var(--pagedjs-pagebox-height));
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.front-page h1.title {
  grid-column: 1 / span 2;
  font-size: 22pt;
}

.front-page .author {
  background: url(../assets/biglogo.png) no-repeat bottom right;
  background-size: contain;
  width: 100px;
  height: 100px;
  margin: 0;
  grid-column: 2 / 2;
  grid-row: 2 / span 2;
  justify-self: end;
  margin-bottom: 0.2em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.front-page .subtitle {
  font-size: 22pt;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.front-page .date {
  display: block;
  font-weight: normal;
  font-variant: italic;
  font-size: 12pt;
  align-self: end;
}

.front-matter-container {
  /*break-before: always;*/
}

.pagedjs_pagebox {
  --text-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));
  --text-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
}

body {
  font-family: Roboto;
}

.accompagnement {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  break-inside: avoid;
  height: calc(var(--text-height) / 2);
}

.accompagnement h4 {
  margin-bottom: 0;
}
.accompagnement h4 + ul {
  margin-top: 0;
}

h1 {
  font-family: "DejaVu Sans";
}

.main h1,
.front-matter-container h1 {
  width: min-content;
  margin: 0 auto 1.2em auto;
  white-space: nowrap;
  text-align: center;
  position: relative;
  z-index: 1;
}

.main h1::before,
.front-matter-container h1::before {
  --highlight-margin: 0.3em;
  display: inline-block;
  content: '';
  background-color: #dcdd43;
  width: calc(100% + var(--highlight-margin) * 2);
  position: absolute;
  left: calc(0px - var(--highlight-margin));
  top: 65%;
  height: 0.8ex;
  transform: skew(-0.5deg) rotate(-0.5deg);
  z-index: -1;
}

h2 {
  font-family: "Roboto";
  margin-right: 1rem;
}

h2 .subtitle {
  font-size: 60%;
}

.main h2 {
  break-after: avoid;
}

.main {
  font-size: 12pt;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: #0c5b7a;
}

.figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.figure .caption {
  text-align: center;
  margin-top: 0.1em;
}

.figure .caption .label {
  font-variant: small-caps;
}

.hide-title h2 {
  display: none;
}

:root {
  --icon-size: 2.8rem;
  --icon-margin: 0.2rem;
}

.statut {
  text-transform: uppercase;
  font-size: smaller;
}

.grille {
  --minimap-width: 192px;
  --minimap-white-margin-width: 14px;
  --main-column-width: calc((99% - (var(--minimap-width)) + (var(--minimap-white-margin-width) * 2)) / 2);
  --gutter-width: 1.6rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  break-inside: avoid;
}

.accompagnement h2 {
  margin-bottom: 0.5rem;
}

.accompagnement h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.accompagnement ul {
  margin-top: 0;
  margin-bottom: 0;
}

.accompagnement .contact {
  white-space: no-wrap;
  font-family: "Abel";
  width: calc(99% - var(--icon-size) * 7 - var(--icon-margin) * 6);
}
.accompagnement .contact a {
  text-decoration: none;
}
.accompagnement .public,
.accompagnement .domaines {
  width: var(--main-column-width);
}
/*** GUTTER 1 ***
.grille {
  --gutter-width: 1rem;
}
.accompagnement .public ul,
.accompagnement .domaines ul {
  width: calc(100% - var(--gutter-width));
}
.accompagnement .public {
  padding-right: calc(var(--gutter-width) / 2);
}
.accompagnement .domaines {
  border-left: solid #ccc 1px;
  padding-left: calc(var(--gutter-width) / 2);
}
***************/
.grille {
  --gutter-width: 1.6rem;
}
.accompagnement .public ul,
.accompagnement .domaines ul {
  width: calc(100% - var(--gutter-width));
}
.accompagnement .public {
  padding-right: calc(var(--gutter-width) / 4);
}
.accompagnement .domaines {
  border-left: solid #ccc 1px;
  border-right: solid #ccc 1px;
  padding-left: calc(var(--gutter-width) / 4);
  padding-right: calc(var(--gutter-width) / 4);
  margin-right: calc(var(--gutter-width) / 4);
}

.accompagnement .formats {
  margin-bottom: 0.5rem;
}
.accompagnement .zones-geo {
  width: calc(var(--minimap-width) - var(--minimap-white-margin-width) * 2);
}
.accompagnement .zones-geo h3 {
  display: none;
}
.accompagnement .minicarte img {
  width: var(--minimap-width);
}
.grille ul {
  padding-left: 0px;
}
.grille li {
  display: block;
}

.formats h3 {
  display: none;
}
ul.icones {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icones li {
  display: block;
  height: var(--icon-size);
  width: var(--icon-size); 
  margin: 0 var(--icon-margin) 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.icones li:first-child {
  margin-left: 0;
}
.icones li span {
  display: none;
}
.icones .off {
  opacity: 0.15;
}

.clear-page {
  /*break-before: page;*/
}

#index-alphabetique {
  break-before: always;
}

#index-par-format h2 {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  padding-right: 3.2em;
  line-height: 3em;
}

#index-par-zone img {
  margin: auto;
  width: auto;
  height: 10cm;
}

.icones .ateliers,
#format-ateliers h2 {
  background-image: url(../assets/noun_teamwork_1158896.svg);
}
.icones .conf,
#format-conf h2 {
  background-image: url(../assets/noun_Speaker_3203173.svg);
}
.icones .conseil,
#format-conseil h2 {
  background-image: url(../assets/noun_conference_1876297.svg);
}
.icones .cours,
#format-cours h2 {
  background-image: url(../assets/noun_Mentor_2217264.svg);
}
.icones .depannage,
#format-depannage h2 {
  background-image: url(../assets/noun_Wrench_29849.svg);
}
.icones .formations_pro,
#format-formations_pro h2 {
  background-image: url(../assets/noun_training_2217280.svg);
}
.icones .stands,
#format-stands h2 {
  background-image: url(../assets/noun_panel_1142582.svg);
}
.icones .monde,
#zone-monde h2 {
  background-image: url(../assets/noun_Earth_1213079.svg);
}
.icones .en_ligne,
#zone-en_ligne h2 {
  background-image: url(../assets/noun_Computer_994201.svg);
}

.zones-geo .icones {
  justify-content: space-around;
}

.index .level2 > p {
  text-align: center;
}

.index #zone-en_ligne h2,
.index #zone-monde h2 {
  --image-width: 240px;
  padding-bottom: calc(2ex + var(--image-width));
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: var(--image-width) auto;
}

.index ul {
  columns: 2 calc(var(--text-width) * 0.48);
  column-gap: 2%;
  margin: 0;
  padding: 0;
  font-family: "Abel";
}

.index li {
  display: block;
  width: calc(var(--text-width) * 0.49);
  text-align: left;
}

.nom-index {
  padding-right: 0.5ch;
}

.index .level2 a::before {
  content: "...........................................................";
  position: absolute;
  color: #ccc;
  overflow: hidden;
  letter-spacing: 2px;
  width: 40ch;
  z-index: 0;
}

.index .level2 a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}

/* FIXME: looks awful when split in two lines */
.index .level2 a span {
  background-color: white;
  z-index: 1;
}

/***********************************************************
 *
 * Sadly we cannot use generated content, it's way too slow
 * when we have so many links.
 *
 * This will be generated via JavaScript in afterParsed phase,
 * see extra.js.
 *
 
.index a::after {
  content: "" target-counter(attr(href url), page);
  margin-left: 5ch;
  padding-left: 0.5ch;
  padding-right: 1em;
}
*********************************************************/

.index .level2 a::after {
  content: none !important;
}

.index a .page-number {
  margin-left: 5ch;
  padding-left: 0.5ch;
  padding-right: 1em;
}

.index h2 {
  break-before: always;
  margin-top: 0;
}

.footnotes hr::before {
  content: "Notes :";
}

@media print {
  .footnote-back {
    display: none;
  }
}

p {
  line-height: 1.3;
}

sup {
  line-height: 1;
}

#TOC,
#LOF,
#avant-propos,
.pagedjs_chapter_first_page .has-toc {
  display: grid;
  justify-content: center;
  height: var(--text-height);
  margin: 0 auto;
  padding: 6em 0;
}

#TOC h1,
#LOF h1,
#avant-propos h1,
.pagedjs_chapter_first_page .has-toc h1 {
  align-self: start;
}

.toc ul,
#LOF ul,
#avant-propos p {
  font-size: 16pt;
  text-align: justify;
}

.toc ul ,
#LOF ul {
  width: 13cm;
}

/* TOC, LOT, LOF */
.toc ul, .lot ul, .lof ul {
  list-style: none;
  padding-left: 0;
  overflow-x: hidden;
  columns: 1;
}
.toc li {
  width: auto;
}
.toc li li {
  padding-left: 1em;
}
.toc a, .lot a, .lof a {
  text-decoration: none;
  background: white;
  padding-right: .33em;
}
.toc a::after, .lot a::after, .lof a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
  background: white;
}
.toc a.front-matter-ref::after, .lot a.front-matter-ref::after, .lof a.front-matter-ref::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
}
.toc .leaders::before, .lot .leaders::before, .lof .leaders::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

#avant-propos {
  width: 12cm;
}

#avant-propos .disclaimer {
  border: red dashed 0.1em;
  margin: 1.5em -0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#avant-propos .disclaimer::before {
  content: "⚠";
  color: red;
  font-size: 3cm;
  margin-left: -3.1cm;
  margin-right: 0.4cm;
}

#avant-propos .disclaimer p {
  margin-top: 0;
  margin-bottom: 0;
}

#colophon {
  break-after: always;
  display: grid;
  place-content: center;
  height: var(--text-height);
  width: 92%;
  margin: auto;
}

#colophon p {
  text-align: center;
}

#colophon .licence {
  background: url(../assets/by-sa.svg) no-repeat center top;
  background-size: auto 1.5cm;
  padding-top: 1.7cm;
}
